In [21]:
import pandas as pd
from sqlalchemy import create_engine
import gc
from time import time

In [2]:
trip_data = pd.read_parquet("yellow_tripdata_2022-11.parquet")
# trip_data.to_csv("yellow_tripdata_2022.csv")

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [5]:
# data definition language (ddl )
# below is the schema for our trip data
print(pd.io.sql.get_schema(trip_data,name='yellow_taxi_data_22',con=engine))

CREATE TABLE yellow_taxi_data_22 (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [6]:
chunk_trip_data = trip_data[:100000] # first 1 million data

In [7]:
# chunk_trip_data.to_sql(name='yellow_taxi_data_22',if_exists='replace'
#                       con = engine)

In [11]:
# sending headers to the postgres database
# now if you try to load the database and see the table inside it 
# you will get header of our current data
# I have created another jupyter notebook to make a connection with postgres database
# and validate the result from this notebook to that notebook (reason : pgcli not working in my case)

chunk_trip_data.head(0).to_sql(name='yellow_taxi_data_22',if_exists='append'
                      ,con = engine)

In [12]:
%%time

# once you are done with above validation step 
# run this cell and send chunk of data to the "yellow_taxi_data_22" table
# and validate it once again
chunk_trip_data.to_sql(name='yellow_taxi_data_22',if_exists='append'
                      ,con = engine)

Wall time: 9.37 s

In [13]:
## insert remaining chunks into the table
rem_rows = len(trip_data)-100000
print(f"rows remained to be transfer is {rem_rows}")

rows remained to be transfer is 3152717

In [18]:
## warning: this might take time and space to 
## so, not necessary at all 
loop = rem_rows//100000
i=1
while i<=loop:
    st = time()
    chunk_trip_data = trip_data[100000*i:100000*(i+1)]
    chunk_trip_data.to_sql(name='yellow_taxi_data_22',if_exists='append'
                      ,con = engine)
    print(f"iteration {i} took {time()-st}s")
    
# to send reminder of the data i.e rem_row%100000 number of rows
chunk_trip_data = trip_data[100000*(i):]
chunk_trip_data.to_sql(name='yellow_taxi_data_22',if_exists='append'
                      ,con = engine)

31